body{
	background-color: #F5F5F5;
}

.navbar-default {
    background-color: #191919;
	border-radius:0px;
	border:none;
    font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 5px;
	margin-bottom:0px;
	border-bottom:1px solid #ffd700;
}

.navbar-header{
	padding-bottom:15px;
}

.navbar-default .navbar-brand {
    color: #ffd700;
    line-height: 40px;
	font-size:1.7em;
	font-weight:600;
	padding-right:50px;
}

.navbar-default .navbar-toggle{
	border:none;
	margin-top:15px;
	border-radius:0px;
}

.navbar-default  .navbar-toggle:hover,
.navbar-default  .navbar-toggle:focus{
	background-color:#ffd700;
	color: #191919;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #ffd700;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar{
	background-color: #191919;
}

.navbar-default .navbar-collapse{
	border-color:#ffd700;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F5F5F5;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffd700;
    line-height: 40px;
	font-size:1.4em;
	padding-left:25px;
	padding-right:25px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F5F5F5;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffd700;
    background-color: transparent;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #ffd700;
}


.hero{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/hero.jpg');
	min-height:60vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-words{
	margin-top:28vh; 
	color:#F5F5F5;
	letter-spacing:10px; 
	font-size:3.4em;
	padding-bottom:15px;
	padding-top:15px;
	font-family:'Alegreya Sans SC', sans-serif;
	background-color:rgba(255,215,0,0.3);
}

.featured-menu-row{
	margin-top:-90px;
}

.featured-menu{
	min-height:60vh;
	padding-top:2%;
	margin-bottom:15px;
	margin-top:15px;
	background-size: auto 100%;
	background-position:center;
	background-repeat:no-repeat;
	position: relative;
	border:15px solid #F5F5F5;
}

.featured-menu:hover{
	transform:scale(1.2,1.2);
	z-index:999;
	transition: transform .5s;
}

.featured-menu:hover .featured-menu-text{
	z-index:997;
	opacity:0;
	transition: transform .5s;
}

#menu1{
	background-image:url("../img/1.jpg");
}

#menu2{
	background-image:url("../img/2.jpg");
}

#menu3{
	background-image:url("../img/3.jpg");
}

.featured-menu-text{
	margin-top:15%;
	padding:4% 0% 4% 0%;
	margin-left:4%;
	width:92%;
	background-color:rgba(255,255,255,0.7);
	position: absolute;
	bottom: 4%;
}

.featured-menu h2{
    font-family: 'Bilbo Swash Caps', cursive;
	font-weight:300;
	letter-spacing:5px;
}

.featured-menu p{
    font-family: 'Roboto', sans-serif;
	letter-spacing:5px;
	font-size:1.5em;
	margin:5% 15% 5% 15%;
	font-weight:300;
}

.featured-menu hr{
	border-top: 1px solid #191970;
	margin-left:15%;
	margin-right:15%;
}

.testimonials{
	margin-top:-120px;
	min-height:50vh;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/parallax.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color:#F5F5F5;
}

.testimonials h2{
    	font-family: 'Bilbo Swash Caps', cursive;
	font-weight:900;
	letter-spacing:5px;
	font-size:3em;
	margin-top:130px;
}

.testimonies{
	font-size:1.5em;
	margin-top:5vh;
	margin-bottom:100px;
	font-family:"Roboto",sans-serif;
}

.reviewer{
	font-style:italic;
	margin-top:5vh;
}

footer{
	height:10vh;
	padding-top:25px;
	font-family:"Roboto",sans-serif;
}
























